In [2]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [4]:
loans = pd.read_excel('data.xlsx')
defaulted_loans = pd.read_excel('data.xlsx', sheet_name='Lapas1')

In [5]:
loans['Disbursal date'] = pd.to_datetime(loans['Disbursal date'])

In [6]:
pd.DataFrame(loans['Borrower ID'].value_counts()).reset_index()['Borrower ID'].value_counts()

1     9515
2     2023
3      657
4      227
5      121
6       49
7       17
8       13
10       9
9        9
11       5
13       4
12       2
17       1
Name: Borrower ID, dtype: int64

In [7]:
loans = loans.sort_values(['Borrower ID', 'Disbursal date']).reset_index(drop=True)

In [8]:
loans['loan_number'] = loans.groupby(['Borrower ID']).cumcount()+1

In [56]:
loans.head()

,Borrower ID,Loan ID,Credit score,Loan amount,Disbursal date,Interest rate,Loan term,Borrower type,Loan type,Repayment date,Expected repayment date,Loan status,Days late,default,Purpose,Monthly payment,Outstanding principal,Repaid principal,Outstanding interest,Repaid interest,Delay interest,Arrears,Birth year,Gender,City,Marital status,Children,Residential status,Education,Occupation,Months at current employer,Years working total,Employment status,DTI,Family liabilities,Family income,Borrower income,Borrower liabilities,Spouse income,Spouse liabilities,Last debt payment date,loan_number
0,U-00000382,L-00000001,A,3000,2015-08-17,20.96,12,fizinis asmuo,kasmėnesinės įmokos,2016-02-04,2016-01-31,grąžinta,0,0,namų remontui,271.39,0.0,3000.0,0.0,256.62,NaN,NaN,1991,moteris,Vilnius,nevedęs/netekėjusi,0,nuosavas,pagrindinis,Eksporto vadybininkė / Export manager,18,NaN,"dirba, pilnu etatu",34,0.0,800.00,NaN,NaN,NaN,NaN,NaT,1
1,U-00000382,L-00000314,A,800,2015-09-24,15.42,18,fizinis asmuo,kasmėnesinės įmokos,2016-02-04,2016-01-31,grąžinta,0,0,namų remontui,46.77,0.0,800.0,0.0,38.09,NaN,NaN,1991,moteris,Vilnius,nevedęs/netekėjusi,0,nuosavas,pagrindinis,Eksporto vadybininkė / Export manager,18,NaN,"dirba, pilnu etatu",31,259.0,1000.00,NaN,NaN,NaN,NaN,NaT,2
2,U-00000405,L-00000002,C,2700,2015-08-28,25.82,54,fizinis asmuo,kasmėnesinės įmokos,2020-02-27,2020-02-27,grąžinta,0,0,paskolų refinansavimui,85.03,0.0,2700.0,0.0,1891.64,NaN,NaN,1985,moteris,Vilnius,nevedęs/netekėjusi,0,nuomojamas,magistras,Specialistė / Specialist,60,NaN,"dirba, pilnu etatu",13,0.0,590.00,NaN,NaN,NaN,NaN,NaT,1
3,U-00000408,L-00000003,D,1300,2015-08-20,25.25,24,fizinis asmuo,kasmėnesinės įmokos,2016-10-31,2016-10-31,grąžinta,0,0,kita,66.46,0.0,1300.0,0.0,294.96,NaN,NaN,1989,vyras,Kaunas,nevedęs/netekėjusi,0,nuomojamas,magistras,Inžinierius-projektuotojas,9,NaN,"dirba, pilnu etatu",16,14.0,510.00,NaN,NaN,NaN,NaN,NaT,1
4,U-00000448,L-14459135,B,950,2020-02-05,15.00,48,fizinis asmuo,kasmėnesinės įmokos,2020-02-25,2024-01-15,grąžinta,0,0,kita,29.39,0.0,950.0,0.0,6.88,NaN,NaN,1960,vyras,Marijampolis,susituokęs(-usi),0,gyvena su tėvais,magistras,Mokytojas / Teacher,57,25.0,"dirba, pilnu etatu",19,169.0,1022.36,1022.36,169.0,NaN,NaN,2017-04-22,1

In [57]:
small_loans = loans[['Loan amount', 'loan_number', 'Family income', 'Family liabilities', 'default', 'Loan term', '']]
X = pd.get_dummies(X, columns=['Gender', 'Education', 'Marital status', 'Purpose', 'Residential status'])
X

In [58]:
X = small_loans[['Loan amount', 'loan_number', 'Family income', 'Family liabilities']].values
y = loans.default.values

In [59]:
small_loans

,Loan amount,loan_number,Family income,Family liabilities,default,Loan term
0,3000,1,800.00,0.00,0,12
1,800,2,1000.00,259.00,0,18
2,2700,1,590.00,0.00,0,54
3,1300,1,510.00,14.00,0,24
4,950,1,1022.36,169.00,0,48
...,...,...,...,...,...,...
17876,1300,2,670.03,149.00,0,24
17877,1700,3,790.07,148.50,0,24
17878,6200,1,1001.74,211.36,0,60
17879,1050,1,312.09,0.00,0,24
17880,3000,1,454.67,0.00,0,60

In [60]:
from sklearn.model_selection import train_test_split

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [62]:
X_train.shape, X_test.shape

((13410, 4), (4471, 4))

In [63]:
from xgboost import XGBClassifier

In [126]:
xgbc = XGBClassifier(max_depth = 10, n_estimators=500, learning_rate = 1)

In [127]:
xgbc

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=None,
              gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=1, max_bin=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=10,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=500, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None,
              reg_alpha=None, reg_lambda=None, ...)

In [128]:
from sklearn.model_selection import cross_val_score
xgbc.fit(X_train, y_train)

scores = cross_val_score(xgbc, X_test, y_test, cv=5)

In [129]:
scores

array([0.85921788, 0.86577181, 0.85458613, 0.84563758, 0.86241611])

In [130]:
y_pred = xgbc.predict(X_test)

In [131]:
#from sklearn.metrics import confusion_matrix

In [132]:
confusion_matrix(y_test, xgbc.predict(X_test))

array([[3736,  259],
       [ 421,   55]], dtype=int64)

In [133]:
#from sklearn.metrics import f1_score

In [134]:
f1_score(y_test, xgbc.predict(X_test))

0.13924050632911392

In [135]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: %f' % accuracy)
from sklearn.metrics import precision_score
precision = precision_score(y_test, y_pred)
print('Precision: %f' % precision)
# recall: tp / (tp + fn)
from sklearn.metrics import recall_score
recall = recall_score(y_test, y_pred)
print('Recall: %f' % recall)
# f1: 2 tp / (2 tp + fp + fn)
from sklearn.metrics import f1_score
f1 = f1_score(y_test, y_pred)
print('F1 score: %f' % f1)
from sklearn.metrics import roc_auc_score
roc_auc_score = roc_auc_score(y_test, y_pred)
print('Roc_Auc_Score: %f' % roc_auc_score)

Accuracy: 0.847909
Precision: 0.175159
Recall: 0.115546
F1 score: 0.139241
Roc_Auc_Score: 0.525358

In [85]:
sum(xgbc.predict(X_test)==0)

3942

In [26]:
X_test.shape

(4471, 4)

In [27]:
sum(y_test==1)

500

In [28]:
import xgboost as xgb
# read in data
dtrain = xgb.DMatrix(X_train)
dtest = xgb.DMatrix(X_test)
# specify parameters via map
param = {'max_depth':2, 'eta':1, 'objective':'binary:logistic' }
num_round = 2
bst = xgb.train(param, dtrain, num_round)
# make prediction
preds = bst.predict(dtest)

XGBoostError: [18:33:14] C:/Users/Administrator/workspace/xgboost-win64_release_1.6.0/src/objective/regression_obj.cu:35: Check failed: info.labels.Shape(0) == info.num_row_ (0 vs. 13410) : Invalid shape of labels.

In [78]:
xgb.train?

In [70]:
for i in range(13):
    print(small_loans[small_loans['loan_number']==i].default.value_counts(normalize=True))

Series([], Name: default, dtype: float64)
0    0.867531
1    0.132469
Name: default, dtype: float64
0    0.920306
1    0.079694
Name: default, dtype: float64
0    0.949731
1    0.050269
Name: default, dtype: float64
0    0.945295
1    0.054705
Name: default, dtype: float64
0    0.934783
1    0.065217
Name: default, dtype: float64
0    0.944954
1    0.055046
Name: default, dtype: float64
0    1.0
Name: default, dtype: float64
0    0.976744
1    0.023256
Name: default, dtype: float64
0    1.0
Name: default, dtype: float64
0    0.952381
1    0.047619
Name: default, dtype: float64
0    0.916667
1    0.083333
Name: default, dtype: float64
0    1.0
Name: default, dtype: float64

In [57]:
loans

,Borrower ID,Loan ID,Credit score,Loan amount,Disbursal date,Interest rate,Loan term,Borrower type,Loan type,Repayment date,Expected repayment date,Loan status,Days late,default,Purpose,Monthly payment,Outstanding principal,Repaid principal,Outstanding interest,Repaid interest,Delay interest,Arrears,Birth year,Gender,City,Marital status,Children,Residential status,Education,Occupation,Months at current employer,Years working total,Employment status,DTI,Family liabilities,Family income,Borrower income,Borrower liabilities,Spouse income,Spouse liabilities,Last debt payment date
0,U-00000382,L-00000001,A,3000,2015-08-17,20.96,12,fizinis asmuo,kasmėnesinės įmokos,2016-02-04,2016-01-31,grąžinta,0,0,namų remontui,271.39,0.00,3000.00,0.00,256.62,NaN,NaN,1991,moteris,Vilnius,nevedęs/netekėjusi,0,nuosavas,pagrindinis,Eksporto vadybininkė / Export manager,18,NaN,"dirba, pilnu etatu",34,0.00,800.00,NaN,NaN,NaN,NaN,NaT
1,U-00000405,L-00000002,C,2700,2015-08-28,25.82,54,fizinis asmuo,kasmėnesinės įmokos,2020-02-27,2020-02-27,grąžinta,0,0,paskolų refinansavimui,85.03,0.00,2700.00,0.00,1891.64,NaN,NaN,1985,moteris,Vilnius,nevedęs/netekėjusi,0,nuomojamas,magistras,Specialistė / Specialist,60,NaN,"dirba, pilnu etatu",13,0.00,590.00,NaN,NaN,NaN,NaN,NaT
2,U-00000408,L-00000003,D,1300,2015-08-20,25.25,24,fizinis asmuo,kasmėnesinės įmokos,2016-10-31,2016-10-31,grąžinta,0,0,kita,66.46,0.00,1300.00,0.00,294.96,NaN,NaN,1989,vyras,Kaunas,nevedęs/netekėjusi,0,nuomojamas,magistras,Inžinierius-projektuotojas,9,NaN,"dirba, pilnu etatu",16,14.00,510.00,NaN,NaN,NaN,NaN,NaT
3,U-00000528,L-00000028,C,2000,2015-08-21,25.83,27,fizinis asmuo,kasmėnesinės įmokos,2016-09-30,2016-09-30,grąžinta,0,0,paskolų refinansavimui,91.07,0.00,2000.00,0.00,458.90,NaN,NaN,1983,moteris,Šilutė,nevedęs/netekėjusi,0,gyvena su tėvais,magistras,Valstybės tarnautoja/Public servant,48,NaN,"dirba, pilnu etatu",25,127.00,900.00,NaN,NaN,NaN,NaN,NaT
4,U-00000545,L-00000038,D,2250,2015-08-25,31.56,18,fizinis asmuo,kasmėnesinės įmokos,2017-03-13,2017-02-25,grąžinta,0,0,paskolų refinansavimui,158.52,0.00,2250.00,0.00,603.37,7.92,NaN,1979,moteris,"Trakų rajonas, Bražuolės kaimas",susituokęs(-usi),2,gyvena su tėvais,pagrindinis,Barmenė,72,NaN,"dirba, pilnu etatu",36,0.00,420.00,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,U-23442732,L-99956362,B,1000,2020-06-15,15.00,14,fizinis asmuo,kasmėnesinės įmokos,2021-08-19,2021-08-15,grąžinta,0,0,kita,82.46,0.00,1000.00,0.00,91.94,0.57,NaN,1982,moteris,Panevėžys,išsiskyręs(-usi),0,nuosavas,aukštasis,Virėja / Cook,0,12.0,bedarbis,17,0.00,472.68,472.68,0.00,NaN,NaN,2016-12-02
17877,U-15352595,L-99961837,D,4200,2021-01-19,25.00,60,fizinis asmuo,kasmėnesinės įmokos,2021-10-05,2026-01-15,grąžinta,0,0,paskolų refinansavimui,125.24,0.00,4200.00,0.00,672.00,NaN,NaN,1981,moteris,Švenčionėliai,nevedęs/netekėjusi,3,nuomojamas,profesinis,Operatorė/Operator,20,17.0,"dirba, pilnu etatu",22,0.00,580.72,580.72,0.00,NaN,NaN,2019-06-08
17878,U-99566421,L-99966995,D,3745,2022-01-03,23.00,54,fizinis asmuo,kasmėnesinės įmokos,NaT,2026-06-25,aktyvi,0,0,paskolų refinansavimui,117.55,3627.68,117.32,1958.09,176.58,0.11,NaN,1998,vyras,Joniškio r.,kita,0,gyvena su tėvais,profesinis,Statybininkas / Construction worker,7,5.0,"dirba, pilnu etatu",31,241.95,1148.88,1148.88,241.95,NaN,NaN,2021-11-25
17879,U-17473172,L-99969848,B,5435,2020-07-02,18.00,60,fizinis asmuo,kasmėnesinės įmokos,2021-10-19,2025-06-15,grąžinta,0,0,kita,153.64,0.00,5435.00,0.00,1080.22,0.10,NaN,1962,vyras,Kelmės r.,susituokęs(-usi),0,nuosavas,pagrindinis,Stalius / Joiner,7,22.0,"dirba, pilnu etatu",34,0.58,457.30,457.30,0.00,0.0,0.58,2016-08-23
17880,U-38586247,L-99989214,C,7500,2022-03-14,16.00,75,fizinis asmuo,kasmėnesinės įmokos,2022-03-22,2028-06-14,klientas atsisakė,0,0,paskolų refinansavimui,181.31,NaN,7500.00,NaN,NaN,NaN,NaN,1987,vyras,Kaunas,nevedęs/netekėjusi,0,nuomojamas,aukštasis,Komplektuotojas/complector,3,9.0,"dirba, pilnu etatu",39,41.63,571.24,571.24,41.63,NaN,NaN,2015-06-17

,Borrower ID,Loan ID,Credit score,Loan amount,Disbursal date,Interest rate,Loan term,Borrower type,Loan type,Repayment date,Expected repayment date,Loan status,Days late,default,Purpose,Monthly payment,Outstanding principal,Repaid principal,Outstanding interest,Repaid interest,Delay interest,Arrears,Birth year,Gender,City,Marital status,Children,Residential status,Education,Occupation,Months at current employer,Years working total,Employment status,DTI,Family liabilities,Family income,Borrower income,Borrower liabilities,Spouse income,Spouse liabilities,Last debt payment date
0,U-00000382,L-00000001,A,3000,2015-08-17,20.96,12,fizinis asmuo,kasmėnesinės įmokos,2016-02-04,2016-01-31,grąžinta,0,0,namų remontui,271.39,0.00,3000.00,0.00,256.62,NaN,NaN,1991,moteris,Vilnius,nevedęs/netekėjusi,0,nuosavas,pagrindinis,Eksporto vadybininkė / Export manager,18,NaN,"dirba, pilnu etatu",34,0.00,800.00,NaN,NaN,NaN,NaN,NaT
1,U-00000405,L-00000002,C,2700,2015-08-28,25.82,54,fizinis asmuo,kasmėnesinės įmokos,2020-02-27,2020-02-27,grąžinta,0,0,paskolų refinansavimui,85.03,0.00,2700.00,0.00,1891.64,NaN,NaN,1985,moteris,Vilnius,nevedęs/netekėjusi,0,nuomojamas,magistras,Specialistė / Specialist,60,NaN,"dirba, pilnu etatu",13,0.00,590.00,NaN,NaN,NaN,NaN,NaT
2,U-00000408,L-00000003,D,1300,2015-08-20,25.25,24,fizinis asmuo,kasmėnesinės įmokos,2016-10-31,2016-10-31,grąžinta,0,0,kita,66.46,0.00,1300.00,0.00,294.96,NaN,NaN,1989,vyras,Kaunas,nevedęs/netekėjusi,0,nuomojamas,magistras,Inžinierius-projektuotojas,9,NaN,"dirba, pilnu etatu",16,14.00,510.00,NaN,NaN,NaN,NaN,NaT
3,U-00000528,L-00000028,C,2000,2015-08-21,25.83,27,fizinis asmuo,kasmėnesinės įmokos,2016-09-30,2016-09-30,grąžinta,0,0,paskolų refinansavimui,91.07,0.00,2000.00,0.00,458.90,NaN,NaN,1983,moteris,Šilutė,nevedęs/netekėjusi,0,gyvena su tėvais,magistras,Valstybės tarnautoja/Public servant,48,NaN,"dirba, pilnu etatu",25,127.00,900.00,NaN,NaN,NaN,NaN,NaT
4,U-00000545,L-00000038,D,2250,2015-08-25,31.56,18,fizinis asmuo,kasmėnesinės įmokos,2017-03-13,2017-02-25,grąžinta,0,0,paskolų refinansavimui,158.52,0.00,2250.00,0.00,603.37,7.92,NaN,1979,moteris,"Trakų rajonas, Bražuolės kaimas",susituokęs(-usi),2,gyvena su tėvais,pagrindinis,Barmenė,72,NaN,"dirba, pilnu etatu",36,0.00,420.00,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17876,U-23442732,L-99956362,B,1000,2020-06-15,15.00,14,fizinis asmuo,kasmėnesinės įmokos,2021-08-19,2021-08-15,grąžinta,0,0,kita,82.46,0.00,1000.00,0.00,91.94,0.57,NaN,1982,moteris,Panevėžys,išsiskyręs(-usi),0,nuosavas,aukštasis,Virėja / Cook,0,12.0,bedarbis,17,0.00,472.68,472.68,0.00,NaN,NaN,2016-12-02
17877,U-15352595,L-99961837,D,4200,2021-01-19,25.00,60,fizinis asmuo,kasmėnesinės įmokos,2021-10-05,2026-01-15,grąžinta,0,0,paskolų refinansavimui,125.24,0.00,4200.00,0.00,672.00,NaN,NaN,1981,moteris,Švenčionėliai,nevedęs/netekėjusi,3,nuomojamas,profesinis,Operatorė/Operator,20,17.0,"dirba, pilnu etatu",22,0.00,580.72,580.72,0.00,NaN,NaN,2019-06-08
17878,U-99566421,L-99966995,D,3745,2022-01-03,23.00,54,fizinis asmuo,kasmėnesinės įmokos,NaT,2026-06-25,aktyvi,0,0,paskolų refinansavimui,117.55,3627.68,117.32,1958.09,176.58,0.11,NaN,1998,vyras,Joniškio r.,kita,0,gyvena su tėvais,profesinis,Statybininkas / Construction worker,7,5.0,"dirba, pilnu etatu",31,241.95,1148.88,1148.88,241.95,NaN,NaN,2021-11-25
17879,U-17473172,L-99969848,B,5435,2020-07-02,18.00,60,fizinis asmuo,kasmėnesinės įmokos,2021-10-19,2025-06-15,grąžinta,0,0,kita,153.64,0.00,5435.00,0.00,1080.22,0.10,NaN,1962,vyras,Kelmės r.,susituokęs(-usi),0,nuosavas,pagrindinis,Stalius / Joiner,7,22.0,"dirba, pilnu etatu",34,0.58,457.30,457.30,0.00,0.0,0.58,2016-08-23
17880,U-38586247,L-99989214,C,7500,2022-03-14,16.00,75,fizinis asmuo,kasmėnesinės įmokos,2022-03-22,2028-06-14,klientas atsisakė,0,0,paskolų refinansavimui,181.31,NaN,7500.00,NaN,NaN,NaN,NaN,1987,vyras,Kaunas,nevedęs/netekėjusi,0,nuomojamas,aukštasis,Komplektuotojas/complector,3,9.0,"dirba, pilnu etatu",39,41.63,571.24,571.24,41.63,NaN,NaN,2015-06-17

In [13]:
loans.head(2)

,Borrower ID,Loan ID,Credit score,Loan amount,Disbursal date,Interest rate,Loan term,Borrower type,Loan type,Repayment date,...,Years working total,Employment status,DTI,Family liabilities,Family income,Borrower income,Borrower liabilities,Spouse income,Spouse liabilities,Last debt payment date
0,U-00000382,L-00000001,A,3000,2015-08-17,20.96,12,fizinis asmuo,kasmėnesinės įmokos,2016-02-04,...,NaN,"dirba, pilnu etatu",34,0.0,800.0,NaN,NaN,NaN,NaN,NaT
1,U-00000405,L-00000002,C,2700,2015-08-28,25.82,54,fizinis asmuo,kasmėnesinės įmokos,2020-02-27,...,NaN,"dirba, pilnu etatu",13,0.0,590.0,NaN,NaN,NaN,NaN,NaT

In [11]:
loans['Borrower ID'].unique().size

12652

In [12]:
loans.shape

(17881, 41)

In [16]:
loans[['Borrower ID', 'Loan ID']].drop_duplicates().shape

(17881, 2)

In [23]:
loans = loans.sort_values(['Borrower ID', 'Disbursal date']).reset_index(drop=True)

In [27]:
# paskolu skaičius klientui

1     9515
2     2023
3      657
4      227
5      121
6       49
7       17
8       13
10       9
9        9
11       5
13       4
12       2
17       1
Name: Borrower ID, dtype: int64

In [43]:
ln = loans.merge(defaulted_loans, how='left')

In [39]:
ln['default'] = ln['Default date'].fillna(0).map(lambda x: 1 if x!=0 else 0)

In [44]:
ln.columns

Index(['Borrower ID', 'Loan ID', 'Credit score', 'Loan amount',
       'Disbursal date', 'Interest rate', 'Loan term', 'Borrower type',
       'Loan type', 'Repayment date', 'Expected repayment date', 'Loan status',
       'Days late', 'default', 'Purpose', 'Monthly payment',
       'Outstanding principal', 'Repaid principal', 'Outstanding interest',
       'Repaid interest', 'Delay interest', 'Arrears', 'Birth year', 'Gender',
       'City', 'Marital status', 'Children', 'Residential status', 'Education',
       'Occupation', 'Months at current employer', 'Years working total',
       'Employment status', 'DTI', 'Family liabilities', 'Family income',
       'Borrower income', 'Borrower liabilities', 'Spouse income',
       'Spouse liabilities', 'Last debt payment date', 'Default date'],
      dtype='object')

In [45]:
ln.default

0        0
1        0
2        0
3        0
4        0
        ..
17876    0
17877    0
17878    0
17879    0
17880    0
Name: default, Length: 17881, dtype: int64