In [1]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))
import pandas as pd
pd.set_option('display.max_columns', None)

### Užkeliame duomenis

In [2]:
loans = pd.read_excel('duomenys.xlsx')
defaulted_loans = pd.read_excel('duomenys.xlsx')#, sheet_name='Lapas1')

In [3]:
pd.DataFrame(loans['Borrower ID'].value_counts()).reset_index()['Borrower ID'].value_counts()

1     3682
2      963
3      293
4      120
5       53
6       14
8        9
7        7
11       4
9        4
10       2
13       1
12       1
Name: Borrower ID, dtype: int64

### Sukuriame papildomą kintamąjį - paskolų skaičių.

In [4]:
loans['loan_number'] = loans.groupby(['Borrower ID']).cumcount()+1

In [5]:
loans.head()

,Unnamed: 0,Borrower ID,Credit score,Loan amount,Interest rate,Loan term,default,Purpose,Monthly payment,Birth year,Gender,City,Marital status,Children,Residential status,Education,Months at current employer,DTI,Family income,Family liabilities,Borrower income,Borrower liabilities,loan_number
0,153,U-00002597,B,1640,23.49,33,0,kita,70.96,1991,vyras,NaN,nevedęs/netekėjusi,0,nuosavas,aukštasis,62,35,1610.5197,0.0,1610.5197,0.0,1
1,227,U-00003079,A,6000,22.53,66,0,namų remontui,161.36,1981,moteris,Vilnius,išsiskyręs(-usi),2,nuosavas,pagrindinis,4,18,1261.5074,0.0,1261.5074,0.0,1
2,1030,U-00007926,B,3080,21.05,48,1,paskolų refinansavimui,105.26,1964,moteris,Panevėžys,susituokęs(-usi),0,nuosavas,profesinis,71,21,915.7617,0.0,915.7617,0.0,1
3,1062,U-00008093,D,2100,24.95,45,1,namų remontui,77.24,1964,moteris,Druskininkai,susituokęs(-usi),0,nuosavas,profesinis,24,30,711.6840,0.0,711.6840,0.0,1
4,1107,U-00008375,B,4200,22.84,48,1,paskolų refinansavimui,147.82,1957,moteris,Kuršėnai,susituokęs(-usi),0,nuosavas,profesinis,204,31,1166.9114,0.0,1166.9114,0.0,1

### Pasirenku kintamuosius modelio kūrimui, sukuriami papildomi dummy kintamieji

In [6]:
small_loans = loans[['Loan amount', 'loan_number', 'Family income', 'Family liabilities', 'default', 'Loan term', 'Residential status', 'Interest rate', 'Credit score', 'Gender']]
small_loans = pd.get_dummies(small_loans, columns=['Residential status', 'Credit score', 'Gender'])
small_loans

,Loan amount,loan_number,Family income,Family liabilities,default,Loan term,Interest rate,Residential status_gyvena su tėvais,Residential status_kita,Residential status_nuomojamas,Residential status_nuosavas,Credit score_A,Credit score_B,Credit score_C,Credit score_D,Gender_moteris,Gender_vyras
0,1640,1,1610.5197,0.00,0,33,23.49,0,0,0,1,0,1,0,0,0,1
1,6000,1,1261.5074,0.00,0,66,22.53,0,0,0,1,1,0,0,0,1,0
2,3080,1,915.7617,0.00,1,48,21.05,0,0,0,1,0,1,0,0,1,0
3,2100,1,711.6840,0.00,1,45,24.95,0,0,0,1,0,0,0,1,1,0
4,4200,1,1166.9114,0.00,1,48,22.84,0,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7557,4350,1,1231.2600,220.59,0,24,14.00,0,0,0,1,0,1,0,0,0,1
7558,2175,1,431.4300,0.00,0,24,15.00,0,0,0,1,0,1,0,0,1,0
7559,4200,2,580.7200,0.00,0,60,25.00,0,0,1,0,0,0,0,1,1,0
7560,3745,1,1148.8800,241.95,0,54,23.00,1,0,0,0,0,0,0,1,0,1
7561,5435,1,457.3000,0.58,0,60,18.00,0,0,0,1,0,1,0,0,0,1

### Padaliname duomenis į priklausomą ir nepriklausomus kintamuosius.

In [7]:
X = small_loans.drop(['default'], axis = 1)
y = loans.default.values

### Padaliname duomenis į train ir test grupes.

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [9]:
X_train.shape, X_test.shape

((5671, 16), (1891, 16))

### Sukuriame XGBOOST klasifikavimo modelį.

In [10]:
from xgboost import XGBClassifier
xgbc = XGBClassifier(max_depth = 14, n_estimators=500, learning_rate = 2)
xgbc

XGBClassifier(base_score=None, booster=None, callbacks=None,
              colsample_bylevel=None, colsample_bynode=None,
              colsample_bytree=None, early_stopping_rounds=None,
              enable_categorical=False, eval_metric=None, gamma=None,
              gpu_id=None, grow_policy=None, importance_type=None,
              interaction_constraints=None, learning_rate=2, max_bin=None,
              max_cat_to_onehot=None, max_delta_step=None, max_depth=14,
              max_leaves=None, min_child_weight=None, missing=nan,
              monotone_constraints=None, n_estimators=500, n_jobs=None,
              num_parallel_tree=None, predictor=None, random_state=None,
              reg_alpha=None, reg_lambda=None, ...)

### Į modelį įdedame duomenis modelio apmokymui.

In [11]:
from sklearn.model_selection import cross_val_score
xgbc.fit(X_train, y_train)

scores = cross_val_score(xgbc, X_test, y_test, cv=5)
scores

array([0.90237467, 0.87301587, 0.88095238, 0.87037037, 0.85185185])

### Atliekame prognozes su modeliu

In [12]:
y_pred = xgbc.predict(X_test)

### Prognozavimo rezultatus peržiūrime Confusion matrix.

In [13]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, xgbc.predict(X_test))

array([[1681,   83],
       [ 114,   13]], dtype=int64)

### Peržiūrime modelio metrikas.

In [14]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy: %f' % accuracy)
from sklearn.metrics import precision_score
precision = precision_score(y_test, y_pred)
print('Precision: %f' % precision)
# recall: tp / (tp + fn)
from sklearn.metrics import recall_score
recall = recall_score(y_test, y_pred)
print('Recall: %f' % recall)
# f1: 2 tp / (2 tp + fp + fn)
from sklearn.metrics import f1_score
f1 = f1_score(y_test, y_pred)
print('F1 score: %f' % f1)
from sklearn.metrics import roc_auc_score
roc_auc_score = roc_auc_score(y_test, y_pred)
print('Roc_Auc_Score: %f' % roc_auc_score)

Accuracy: 0.895822
Precision: 0.135417
Recall: 0.102362
F1 score: 0.116592
Roc_Auc_Score: 0.527655

In [15]:
# Importing the libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import pickle
import requests
import json

# Saving model to disk
pickle.dump(xgbc, open('model.pkl','wb'))
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
#print(model.predict([[1.8]]))

In [ ]:
#!pip install flask

In [19]:
# Import libraries
import numpy as np
from flask import Flask, request, jsonify
import pickle
app = Flask(__name__)
# Load the model
model = pickle.load(open('model.pkl','rb'))

@app.route("/", methods=["GET"])

def home():
    return "<center><h1> This is the Home Route </h1></center>"

In [21]:
@app.route("/predict", methods=["GET", "POST"])

SyntaxError: unexpected EOF while parsing (184995289.py, line 1)

In [ ]:
def predict():
    with open("model.pickle", "rb") as f:
        model = pickle.load(f)

In [ ]:
X_train.head()

In [ ]:
import requests
url = 'http://localhost:5000/api'
r = requests.post(url,json={'Loan amount': 500, 'loan_number': 3, 'Family income': 800, 'Family liabilities': 100,'Loan term': 12, 'Interest rate': 9, 'Residential status_gyvena su tėvais': 0, 'Residential status_nuomojamas': 0, 'Residential status_nuosavas': 1,'Credit score_A': 1, 'Credit score_B': 0, 'Credit score_C': 0, 'Credit score_D':0,'Gender_moteris':1,'Gender_vyras':0})
print(r.json())